# Data Assembly

By now, we have learned the basics of the pandas library. We can create our own data, we can load in outside data, and we can plot that data. But up until now, we have only been working with a single dataset, and if we are being honest, the world of data analytics would be a lot easier if all of our data was in one easy to use set. But in the real world, all of the data is stored in different kinds of sets and to anaylze them requires us to combine these sets together

## Concatenation

Concatenation for a dataframe is the same as it is when you concatenate strings together. The concat( ) function is the pandas library simply appends the new rows or columns you wish to add to the existing dataframe.

In [3]:
import pandas

# Now there are two separate dataframes containing data on students that I want to combine together

students1 = pandas.DataFrame({
    'Age' : [18,18,19,23,22,18,28,20,21,24],
    'Standing' : ['Freshman', 'Freshamn', 'Sophmore', 'Senior', 'Senior', 'Freshman', 'Junior', 'Sophmore', 'Junior', 'Senior'],
    'Major' : ['CITE','COSC','POSC','MATH','CITE','PHYS','COSC','CITE','ANTH','SOCI'],
    'Grade' : [18, 19, 91, 96, 78, 82, 90, 79, 89, 85]},
    index=['Student 1','Student 2','Student 3','Student 4','Student 5','Student 6','Student 7','Student 8','Student 9','Student 10'],
    columns=['Age', 'Standing', 'Major', 'Grade']
)

students2 = pandas.DataFrame({
    'Age' : [23, 45, 32, 19, 27, 49, 44, 31, 21, 22],
    'Standing' : ['Senior', 'Sophmore', 'Sophmore', 'Freshman', 'Junior', 'Senior', 'Freshman', 'Junior', 'Sophmore', 'Senior'],
    'Major' : ['MATH','CITE','BUSI','PHIL','COSC','PHIL','MATH','COSC','CITE','ANTH'],
    'Grade' : [88, 67, 90, 71, 83, 78, 83, 93, 89, 76]},
    index=['Student 11','Student 12','Student 13','Student 14','Student 15','Student 16','Student 17','Student 18','Student 19','Student 20'],
    columns=['Age', 'Standing', 'Major', 'Grade']
)

all_students = pandas.concat([students1, students2])

print(all_students)

            Age  Standing Major  Grade
Student 1    18  Freshman  CITE     18
Student 2    18  Freshamn  COSC     19
Student 3    19  Sophmore  POSC     91
Student 4    23    Senior  MATH     96
Student 5    22    Senior  CITE     78
Student 6    18  Freshman  PHYS     82
Student 7    28    Junior  COSC     90
Student 8    20  Sophmore  CITE     79
Student 9    21    Junior  ANTH     89
Student 10   24    Senior  SOCI     85
Student 11   23    Senior  MATH     88
Student 12   45  Sophmore  CITE     67
Student 13   32  Sophmore  BUSI     90
Student 14   19  Freshman  PHIL     71
Student 15   27    Junior  COSC     83
Student 16   49    Senior  PHIL     78
Student 17   44  Freshman  MATH     83
Student 18   31    Junior  COSC     93
Student 19   21  Sophmore  CITE     89
Student 20   22    Senior  ANTH     76

As you can see, the concat function simply added the new dataframe onto the existing one. 

But what if we wanted to concatenate a single row?

This can be accomplished by concatenating a series onto the dataframe

In [23]:
student_row = pandas.Series([2019, 2021, 2020, 2019])

new_column = pandas.concat([all_students, student_row])

print(new_column)

             Age  Standing Major  Grade     0
Student 1   18.0  Freshman  CITE   18.0   NaN
Student 2   18.0  Freshamn  COSC   19.0   NaN
Student 3   19.0  Sophmore  POSC   91.0   NaN
Student 4   23.0    Senior  MATH   96.0   NaN
Student 5   22.0    Senior  CITE   78.0   NaN
Student 6   18.0  Freshman  PHYS   82.0   NaN
Student 7   28.0    Junior  COSC   90.0   NaN
Student 8   20.0  Sophmore  CITE   79.0   NaN
Student 9   21.0    Junior  ANTH   89.0   NaN
Student 10  24.0    Senior  SOCI   85.0   NaN
Student 11  23.0    Senior  MATH   88.0   NaN
Student 12  45.0  Sophmore  CITE   67.0   NaN
Student 13  32.0  Sophmore  BUSI   90.0   NaN
Student 14  19.0  Freshman  PHIL   71.0   NaN
Student 15  27.0    Junior  COSC   83.0   NaN
Student 16  49.0    Senior  PHIL   78.0   NaN
Student 17  44.0  Freshman  MATH   83.0   NaN
Student 18  31.0    Junior  COSC   93.0   NaN
Student 19  21.0  Sophmore  CITE   89.0   NaN
Student 20  22.0    Senior  ANTH   76.0   NaN
0            NaN       NaN   NaN    NaN  2019
1            NaN       NaN   NaN    NaN  2021
2            NaN       NaN   NaN    NaN  2020
3            NaN       NaN   NaN    NaN  2019

/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/api.py:107: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  result = result.union(other)

As you can see, things didn't work out like we wanted them too.

The concat method simply treated the series object like another dataframe object and concatenated them to the end of the old dataframe. Since the series object contained new data and didnt match any on the column names, it created a new column and filled in all of the missing data with NaN.

NaN stands for Not a Number, which is just pythons way of saying that something is missing, or in this case does not exist.

If we want to truly add the new data as a new column, we have to use the axis attribute of the concat( ) function. Setting the axis attribute to axis=1 will tell the concat function to add the data in a column-wise manner, rather than row-wise

In [21]:
# By creating a Series object with the same indicies as the students dataframe,
# When the concatenation occurs, the new values will be added to the corresponding row indicies
import pandas

student_row = pandas.Series([2019, 2021, 2020, 2019], index=['Student 1','Student 2','Student 3','Student 4'])

new_column = pandas.concat([all_students, student_row], axis=1, sort = True)

print(new_column)

            Age  Standing Major  Grade       0
Student 1    18  Freshman  CITE     18  2019.0
Student 10   24    Senior  SOCI     85     NaN
Student 11   23    Senior  MATH     88     NaN
Student 12   45  Sophmore  CITE     67     NaN
Student 13   32  Sophmore  BUSI     90     NaN
Student 14   19  Freshman  PHIL     71     NaN
Student 15   27    Junior  COSC     83     NaN
Student 16   49    Senior  PHIL     78     NaN
Student 17   44  Freshman  MATH     83     NaN
Student 18   31    Junior  COSC     93     NaN
Student 19   21  Sophmore  CITE     89     NaN
Student 2    18  Freshamn  COSC     19  2021.0
Student 20   22    Senior  ANTH     76     NaN
Student 3    19  Sophmore  POSC     91  2020.0
Student 4    23    Senior  MATH     96  2019.0
Student 5    22    Senior  CITE     78     NaN
Student 6    18  Freshman  PHYS     82     NaN
Student 7    28    Junior  COSC     90     NaN
Student 8    20  Sophmore  CITE     79     NaN
Student 9    21    Junior  ANTH     89     NaN

By default, the concat method will sort the dataframe by row index after it has concatenated the new data.

To prevent this from happening, we need to set the sort attrubite to false.

In [13]:
student_row = pandas.Series([2019, 2021, 2020, 2019], index=['Student 1','Student 2','Student 3','Student 4'])

new_column = pandas.concat([all_students, student_row], axis=1, sort=False)

print(new_column.head())

           Age  Standing Major  Grade       0
Student 1   18  Freshman  CITE     18  2019.0
Student 2   18  Freshamn  COSC     19  2021.0
Student 3   19  Sophmore  POSC     91  2020.0
Student 4   23    Senior  MATH     96  2019.0
Student 5   22    Senior  CITE     78     NaN

You can also add new columns by simply passing the dataframe a new column name and assigning it the values you want. Unlike the above method, this one allows us to name the column that we create.

In [20]:

new_df = new_column.iloc[0:6,0:4] # Gets a subset of the first 6 rows and the first 4 columns

new_df['Grad_Year'] = [2019, 2021,2020,2019,2022,2020] # This will add a new column named 'Grad_Year' with the values in the list

print(new_df)

           Age  Standing Major  Grade  Grad_Year
Student 1   18  Freshman  CITE     18       2019
Student 2   18  Freshamn  COSC     19       2021
Student 3   19  Sophmore  POSC     91       2020
Student 4   23    Senior  MATH     96       2019
Student 5   22    Senior  CITE     78       2022
Student 6   18  Freshman  PHYS     82       2020

## Merging Data

Concatenation is very useful when you want to combine entire datasets together. If there are rows that have matching names when concatenating then they can be combined together, but for all the new rows, they are simply added to the end. 

Sometimtes with our data, we don't want to combine entire datasets, but only combine the rows that have common data values. 

This is accomplished with a merge( ) functions.

In [5]:
# Here are a couple of dataframes that we can perform different types of merges on.

person = pandas.DataFrame({
    'ident' : ['dyer', 'pb', 'lake','roe','danforth'],
    'personal' : ['William', 'Frank', 'Anderson','Valentina','Frank'],
    'family' : ['Dyer', 'Pabodie', 'Lake','Roerich','Danforth']},
    columns=['ident', 'personal', 'family']
)

site = pandas.DataFrame({
    'name' : ['DR-1', 'DR-3', 'MSK-4'],
    'lat' : ['-49.85', '-47.15', '-48.87'],
    'long' : ['-128.57', '-126.72', '-123.40']},
    columns=['name', 'lat', 'long']
)

visited = pandas.DataFrame({
    'ident' : [619, 622, 734, 735, 751, 752, 837, 844],
    'site' : ['DR-1', 'DR-1', 'DR-3', 'DR-3', 'DR-3', 'DR-3', 'MSK-4', 'DR-1'],
    'dated' : ['1927-02-08', '1927-02-10', '1939-01-07', '1930-01-12', '1930-02-26', None, '1932-01-14', '1932-03-22']},
    columns=['ident', 'site', 'dated']
)

## Different types of Merges

If you are familiar with databases and SQL terminology, the different types of merges in the pandas library are very similar to the left-outer, right-outer, full-outer, and inner joins. 

| Pandas | SQL | Description  |
|----|---|-------|
| left  | left outer | Keep all of the keys from the left |
| right  | right outer | Keep all of the keys from the right |
| outer  | full outer | Keep all of the keys from both right and left |
| inner  | inner |  Keep only the keys that exist in both left and right   |